$unit: 'px'
@media screen and (min-width: 930px)

  section
    +w($desktop#{$unit})

  .h2-title
    font-size: 40px
    margin-bottom: 32px
    text-align: center

  .ui
    &-title
      margin: 100px 0 60px
      text-align: left
    &-button
      flex-direction: row
      button
        margin-top: 0
    &-checksradios,&-fieldsdropdown,&-iconsTabs
      display: flex
    &-side
      width: 40%
      &:last-child
        width: 59%
    &-field,&-dropdown,&-icon,&-tab
      margin-top: 55px
      &>span
        width: 150px
    &-checkbox,&-radio
      margin-bottom: 50px
    &-icon
      button
        margin-right: 55px
    &-quotes
      margin-top: 100px
      padding-bottom: 260px

  .btn,.btn-big,.btn-mini
    transition: .35s ease
  .btn-big
    padding: 22px 54px 18px
  .btn
    padding: 16px 49px
  .btn-mini
    padding: 9px 18px
  .link
    strong
      font-size: 24px
  .btn-mini.border
    &:hover
      color: $blue-ll
      border-color: $blue-ll
  .btn-big,.btn,.btn-mini
    &.orange
      &:hover
        background-color: $orange-m
  .btn,.btn-big,.btn-mini
    &.blue
      &:hover
        background-color: $blue-m
  .link.blue-light
    &:hover
      color: $blue-m

  .checkbox,.radio
    &-img
      +wh(25px)
      flex: 0 0 25px
      margin-right: 16px
      img
        width: auto
      &,&:before,img
        transition: .35s ease

  .radio
    &-img
      &:before
        +wh(9px)

  .input
    &-text
      padding: 15px 12px
    &-row
      &-img
        .input-text
          padding-left: 37px
    svg
      width: 18px
      left: 12px
    &-error
      &-text
        margin-top: 3px

  .dropdown-head,.dropdown-body-value
    padding: 15px 16px

  .dropdown
    &-head
      svg
        width: 18px
    &-body
      &-value
        &:hover
          background-color: $dropdown-body-value-hover
    &-active
      .dropdown-body
        height: 188px
        bottom: -191px

  .icon
    &-btn
      width: 26px
      flex: 0 0 26px
      svg
        .st0
          transition: .35s ease
      &:hover
        svg
          .st0
            fill: $blue-l

  .tab
    &-controll
      width: 570px
    &-btn
      svg
        width: 57px
      &:hover
        cursor: pointer
        svg
          .st0
            stroke: $body-font-color
          .st1
            stroke: $red
        .tab-btn-text
          color: $body-font-color
      &-active:hover
        background-color: $blue-l
        border-radius: 5px
        svg
          .st0
            stroke: $white
          .st1
            opacity: 1
            stroke: #4e9dce
        .tab-btn-text
          color: $white

  .quotes
    padding: 65px 0
    &-title
      font-size: 50px
    &-subtitle
      width: 590px
      margin: 0 auto 27px
      line-height: 25px
    .h2-title
      margin-bottom: 80px
    .tab
      &-block
        flex-direction: row
        &-item
          width: 235px
          &:after
            +wh(2px,52px)
            display: block
            content: ''
            background-color: $disabled
            opacity: .5
    .dropdown
      &-body
        &-value
          &:hover
            background-color: $dropdown-body-value-hover
      &-head,&-body-value
        padding: 15px 21px

    .input
      &-row
        input
          padding-left: 46px
        svg
          left: 21px

    .input,.dropdown
      margin-bottom: 0

  .head
    &-row
      padding: 15px 0 28px
      flex-wrap: wrap
      align-items: flex-end
    &-burger
      display: none
    &-logo
      width: 290px
      margin-left: 0
    &-desktop
      display: flex
    &-conts
      align-items: flex-end
      margin-bottom: 5px
      a
        margin-bottom: 0
    &-sign
      margin-right: 30px
      transition: .35s ease
      &:hover
        color: $blue-ll
        transform: scale(1.2)
    &-sign,&-phone
      line-height: 18px
      transition: .35s ease
    &-phone
      svg
        width: 15px
      &:hover
        transform: scaleX(1.2)
    &-mobile
      display: none
      &-hidden
        display: flex
        align-items: center
        justify-content: space-between
        position: static
        opacity: 1
        height: auto
        margin-top: 5px
        padding: 20px 0 0
    &-nav
      display: flex
      align-items: center
      a
        font-family: $f_semi
        color: $gray
        margin-right: 35px
        margin-bottom: 0
        position: relative
        &:after
          +wh(100%,2px)
          content: ''
          display: block
          position: absolute
          bottom: -5px
          transition: .35s ease
        &:hover
          &:after
            background-color: $body-font-color
    &-btns
      button
        &:first-child
          margin-right: 20px

  .form
    section
      width: 770px
      &:nth-child(n)
        padding: 30px 100px
      &:nth-child(2)
        padding: 60px 100px 30px
      &:last-child
        padding: 30px 100px 60px
    &-half
      width: calc(50% - 15px)
      &-title
        font-size: 25px
        margin-bottom: 21px
    .input
      &-zip
        flex: 0 0 100px
        padding: 15px 0
    .checkbox
      margin-right: 55px
      max-width: initial
      &:last-child
        margin-right: auto
    &-last
      padding-top: 35px

  .result
    padding-top: 60px
    &-subtitle
      &-row
        display: flex
        align-items: center
        justify-content: center
        padding: 0
        margin-bottom: 43px
      &-item
        svg
          width: 18px
        &:first-child,&:nth-child(2)
          &:after
            content: ''
            display: block
            margin: 0 25px
        &:first-child
          &:after
            +wh(5px)
            border-top: 2px solid $gray
            border-right: 2px solid $gray
            transform: rotate(45deg)
        &:nth-child(2)
          &:after
            +wh(2px,13px)
            background-color: $gray
    &-item
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0
      position: relative
      &>div
        margin-bottom: 0
    &-name,&-time,&-btn
      text-align: left!important
    &-logo,&-time
      flex: 0 0 16%
    &-logo
      img
        max-width: calc(100% - 40px)
    &-name
      flex: 0 0 28%
      padding-right: 5px
    &-price
      flex: 0 0 120px
      padding-right: 5px
    &-dashed
      +wh(3%,130px)
      flex: 0 0 3%
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      div
        +wh(2px,6px)
        background-color: $checkbox-bgc
      &:before,&:after
        +wh(100%,30px)
        max-width: 30px
        border-radius: 100%
        content: ''
        display: block
        background-color: $checkbox-bgc
        position: absolute
      &:before
        top: -15px
      &:after
        bottom: -15px
    &-btn
      flex: 0 0 22%

