$unit: 'px'

body
  background-color: $checkbox-bgc

section
  +w(100%)
  padding: 0 10px

.ui
  &-title
    margin-top: 50px
    margin-bottom: 30px
  &-button
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    margin-bottom: 40px
    button
      margin-top: 20px
    span
      width: 100px
  &-checkboxes
    width: 250px
  &-checkbox,&-radio
    margin-bottom: 20px
  &-field,&-dropdown,&-icon,&-tab
    margin-top: 20px
    display: flex
    align-items: center
    &>span
      width: 70px
      font-family: $f_bold
  &-field
    .input
      width: 170px
  &-icon
    button
      margin-right: 20px
      &.icon-btn-hover
        svg
          .st0
            fill: $blue-l
  &-quotes
    margin-top: 50px
    padding-bottom: 200px

.h2
  &-title
    font-size: 32px
    font-family: $f_bold
    color: $body-font-color

.btn,.btn-big
  font-family: $f_semi
.btn-mini,.btn,.btn-big
  border-radius: 5px
  color: #fff
  border: 2px solid transparent
.btn-big
  padding: 9px 25px 7px
.btn
  padding: 7px 22px
.btn-mini
  padding: 3px 22px
.link
  font-family: $f_bold
  display: flex
  align-items: center
  strong
    font-size: 20px
    margin-right: 5px



.btn-mini.border
  border: 2px solid #5cc0ff
  color: #5cc0ff
  &:active
    background-color: $checkbox-bgc
.btn-big,.btn,.btn-mini
  &.orange
    background-color: $orange-l
    &:active
      background-color: $orange-d
.btn.blue,.btn-big.blue
  background-color: $blue-l
  &:active
    background-color: $blue-d
.btn-big[disabled='true'],.btn[disabled='true']
  background-color: $gray
.link[disabled='true'],.btn-big[disabled='true'],.btn[disabled='true']
  opacity: .5
.link[disabled='true']
  color: $gray
.link.blue-light
  color: $blue-l
  &:active
    color: $blue-d

.checkbox,.radio
  font-family: $f_bold
  &-input
    display: none
  &-label
    display: flex
    align-items: center
    &:hover
      cursor: pointer
  &-img
    +wh(18px)
    +dfc
    flex: 0 0 18px
    background-color: $checkbox-bgc
    margin-right: 8px
  &-input:checked~label
    .radio,.checkbox
      &-img
        background-color: $blue-l
        &:before
          background-color: #ffffff
        img
          visibility: visible
          opacity: 1
  &-disabled
    span
      color: $disabled

.checkbox
  &-img
    border-radius: 3px
    img
      width: 10px
      opacity: 0
      visibility: hidden

.radio
  &-img
    border-radius: 100%
    &:before
      +wh(6px)
      display: block
      content: ''
      background-color: transparent
      border-radius: 100%

.input
  &-error
    &-text
      +font(12px,$f_semi,$red)
      display: none
      position: absolute
    .input-text
      border-color: $red
    .input-error-text
      display: block
  &-text
    width: 100%
    padding: 7px 6px
    &::placeholder
      color: $tab-svg
    &:focus
      border-color: #8eabd1
  &-row
    display: flex
    align-items: center
    position: relative
    &-img
      .input-text
        padding-left: 28px
    svg
      width: 13px
      position: absolute
      left: 9px
  &-zip
    width: 200px
    margin-left: -5px


.input-text,.dropdown-head
  border: 2px solid transparent
  border-radius: 5px

.input,.dropdown
  min-width: 170px
  &-title
    +font(12px,$f_semi,$tab-svg)
    display: block
    margin-top: 10px
    margin-bottom: 10px
    strong
      color: $red
  svg
    .st0
      stroke: $tab-svg
.input-text,.dropdown-head,.dropdown-body-value
  background-color: $checkbox-bgc
  font-family: $f_bold

.dropdown-head,.dropdown-body-value
  width: 100%
  padding: 7px 8px

.input-disabled .input-text,.dropdown-disabled .dropdown-head
  background-color: $disabled
  color: $gray

.dropdown
  position: relative
  &-head
    display: flex
    align-items: center
    svg
      width: 13px
      margin-right: 7px
    span
      margin-right: auto
    &:after
      +wh(5px)
      display: block
      content: ''
      border: 2px solid transparent
      border-top-color: $body-font-color
      border-right-color: $body-font-color
      transition: .35s ease
      transform: rotate(135deg) translateY(1px) translateX(-3px)
  &-head,&-body-value
    text-align: left
    color: $tab-svg
  &-choosen
    color: $body-font-color
  &-body
    border-radius: 5px
    position: absolute
    z-index: 1
    bottom: 0
    height: 0
    overflow: auto
    transition: .35s ease
  &-active
    .dropdown-body
      height: 155px
      bottom: -157px
    .dropdown-head
      border-color: $checkbox-border
      &:after
        transform: rotate(-45deg) translateY(4px)
  &-disabled
    .dropdown-head
      &:hover
        cursor: auto
      &:after
        border-top-color: $gray
        border-right-color: $gray
  ::-webkit-scrollbar
    width: 5px
    height: 5px
  ::-webkit-scrollbar-track-piece
    border-radius: 3px
    background-color: transparent
  ::-webkit-scrollbar-thumb
    height: 50px
    background-color: $scroll
    border-radius: 3px

.icon
  &-btn
    width: 18px
    flex: 0 0 18px
    svg
      .st0
        fill: #9FADBC
      .st1,.st0
        stroke: transparent

.tab
  &>input
    display: none
  &-controll
    +wh(100%,81px)
    border: 2px solid $checkbox-bgc
    border-radius: 5px
    display: flex
  &-btn
    width: calc(20% + .8px)
    height: 81px
    margin-top: -2px
    &:hover
      cursor: pointer
    div
      +wh(100%)
      +dfc
      flex-direction: column
    svg
      width: 40px
      .st0,.st1
        stroke: $tab-svg
      .st1
        opacity: .5
    &-text
      +font(12px,$f_semi,$gray)
      display: block
      text-align: center
    &:first-child
      margin-left: -2px
    &-active
      background-color: $blue-l
      border-radius: 5px
      svg
        .st0
          stroke: $white
        .st1
          opacity: 1
          stroke: #4e9dce
      .tab-btn-text
        color: $white

.quotes
  padding: 30px 0
  background-color: $blue-ll
  &-title
    font-size: 32px
    margin-bottom: 8px
  &-subtitle,&-title
    width: 100%
    text-align: center
    color: $white
  &-subtitle
    opacity: .5
    display: block
    margin-bottom: 27px
  .h2-title
    margin-top: 0
    margin-bottom: 40px
    color: $white
  .tab
    &-controll
      width: 100%
      border: none
      border-radius: 0
    &-btn
      width: 20%
      margin-top: 0
      background-color: $checkbox-bgc
      overflow: hidden
      div
        background-color: $blue-ll
      &:first-child
        margin-left: 0
      svg
        .st0
          stroke: #94c1de
        .st1
          stroke: #509ecf
      &-text
        color: #94c1de
      &:hover
        svg
          .st0,.st1
            stroke: $white
        .tab-btn-text
          color: $white
      &-active,&-active:hover
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        div
          background-color: $checkbox-bgc
        svg
          .st0
            stroke: $body-font-color
          .st1
            stroke: $red
        .tab-btn-text
          color: $body-font-color
    &-block
      display: flex
      flex-direction: column
      align-items: center
      padding: 24px 0
      background-color: $checkbox-bgc
      border-radius: 5px
      &-item
        width: 90%
        display: flex
        align-items: center
      &:nth-child(3)
        &:after
          content: none
  .dropdown
    width: 100%
    margin-bottom: 10px
    &-head
      border: none
    &-head,&-body-value
      padding: 7px 11px
    &-active
      .dropdown-body
        &-value
          background-color: $white
  .input
    width: 100%
    margin-bottom: 15px
    &-row
      input
        padding-left: 28px
        &:focus
          border-color: transparent
      svg
        left: 10px
        .st0
          stroke: $tab-svg
  .btn-big
    width: 204px

#del-1:checked
  ~.tab-controll
    .tab-btn:nth-child(2)
      div
        border-bottom-left-radius: 5px
  ~.tab-block
    border-top-left-radius: 0
#del-2:checked
  ~.tab-controll
    .tab-btn:first-child
      div
        border-bottom-right-radius: 5px
    .tab-btn:nth-child(3)
      div
        border-bottom-left-radius: 5px
#del-3:checked
  ~.tab-controll
    .tab-btn:nth-child(2)
      div
        border-bottom-right-radius: 5px
    .tab-btn:nth-child(4)
      div
        border-bottom-left-radius: 5px
#del-4:checked
  ~.tab-controll
    .tab-btn:nth-child(3)
      div
        border-bottom-right-radius: 5px
    .tab-btn:nth-child(5)
      div
        border-bottom-left-radius: 5px
#del-5:checked
  ~.tab-controll
    .tab-btn:nth-child(4)
      div
        border-bottom-right-radius: 5px
  ~.tab-block
    border-top-right-radius: 0

.head
  background-color: $white
  section
    padding: 0
  .st0,.st1
    stroke: none
  &-row
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 0
    position: relative
  &-logo
    width: 200px
    margin-left: 10px
    .st0
      fill: $blue-l
    .st1
      fill: $red
  &-burger
    position: relative
    margin-right: 10px
    &:before
      top: 0
    &:before,&:after
      content: ''
      position: absolute
    &:before,span,&:after
      +wh(25px,3px)
      display: block
      background-color: $blue-l
      transition: .35s ease
    span
      margin: 6px 0 3px
  &-desktop
    display: none
  &-mobile
    &-hidden
      +wh(100%,0)
      overflow: hidden
      opacity: 0
      padding: 0 10px
      position: absolute
      top: 49px
      background-color: $white
      border-top: 1px solid $gray
      transition: .35s ease
  &-sign
    font-size: 12px
    color: #5cc0ff
  &-phone
    svg
      width: 13px
      .st1,.st0
        fill: $checkbox-border
    span
      color: $checkbox-border
  &-nav a, &-sign, &-phone
    display: block
    margin-bottom: 10px
#head-1
  display: none
  &:checked
    ~.head-row .head-mobile-hidden
      opacity: 1
      height: 226px
      padding: 10px 10px 20px
    ~.head-row .head-burger
      span
        opacity: 0
        visibility: hidden
      &:after,&:before
        top: 6px
      &:before
        transform: rotate(45deg)
      &:after
        transform: rotate(-45deg)

.form
  padding: 50px 0 0
  .h2-title
    padding: 0 10px
    margin-bottom: 40px
  section
    padding: 20px 10px
    background-color: $white
    margin-bottom: 2px
    &:last-child
      padding-bottom: 40px
  &-row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
  &-half
    width: 100%
    &-mobile
      width: calc(50% - 15px)
    &-title
      +font(22px,$f_bold)
    .form-half-title
      margin-top: 26px
  .input,.dropdown
    min-width: 100%
  .checkbox
    max-width: calc(50% - 15px)
    margin-right: auto
  &-last
    padding-top: 20px

.result
  padding: 30px 10px
  &-subtitle
    &-row
      padding: 0 30px
    &-item
      margin-top: 10px
      display: flex
      align-items: center
      span
        font-family: $f_bold
      svg
        width: 13px
        margin-right: 7px
        .st0,.st1
          stroke: $tab-svg
  &-item
    background-color: $white
    padding: 20px 0
    margin-top: 20px
    &:nth-child(2n + 1)
      background-color: rgba($white,.7)
    &>div
      margin-bottom: 15px
      text-align: center
  &-name,&-time
    &-main
      font-family: $f_bold
      display: block
    &-sub
      +font(12px,$f_semi,$tab-svg)
  &-name
    &-sub
      color: $red
  &-price
    +font(24px,$f_semi)