extends template/main
append vars
  -
    page_title= 'Main'
block content
    main
        .quotes
            section
                h1.h1-title.quotes-title Get Instant Quotes
                span.quotes-subtitle Our powerful rating engine provides instant, all-in rates for domestic LTL shipments, International Ocean and Air freight, and International small parcel shipments.
                form.tab
                    input(type='radio' name='delivery')#del-1
                    input(type='radio' name='delivery' checked='true')#del-2
                    input(type='radio' name='delivery')#del-3
                    input(type='radio' name='delivery')#del-4
                    input(type='radio' name='delivery')#del-5
                    .tab-controll
                        label(for='del-1' data-click-target='tab-btn').tab-btn
                            div
                                include ../img/track.svg
                                span.tab-btn-text LTL
                        label(for='del-2' data-click-target='tab-btn').tab-btn.tab-btn-active
                            div
                                include ../img/track-big.svg
                                span.tab-btn-text FTL
                        label(for='del-3' data-click-target='tab-btn').tab-btn
                            div
                                include ../img/gift.svg
                                span.tab-btn-text Small Parcel
                        label(for='del-4' data-click-target='tab-btn').tab-btn
                            div
                                include ../img/boxes.svg
                                span.tab-btn-text LCL
                        label(for='del-5' data-click-target='tab-btn').tab-btn
                            div
                                include ../img/crane.svg
                                span.tab-btn-text FCL
                    .tab-block
                        .tab-block-item
                            .dropdown
                                button.dropdown-head(data-click-target='dropdown-head')
                                    include ../img/address.svg
                                    span.dropdown-head-value Select city or zip
                                input(type='hidden').dropdown-input
                                .dropdown-body
                                    button.dropdown-body-value(data-click-target='dropdown-value') Ukraine, Kiev
                                    button.dropdown-body-value(data-click-target='dropdown-value') Ukraine, Odessa
                                    button.dropdown-body-value(data-click-target='dropdown-value') USA, Texas
                                    button.dropdown-body-value(data-click-target='dropdown-value') Canada, Toronto
                                    button.dropdown-body-value(data-click-target='dropdown-value') USA, New York
                                    button.dropdown-body-value(data-click-target='dropdown-value') Ukraine, Odessa
                                    button.dropdown-body-value(data-click-target='dropdown-value') USA, Texas
                                    button.dropdown-body-value(data-click-target='dropdown-value') Canada, Toronto
                                    button.dropdown-body-value(data-click-target='dropdown-value') USA, New York
                        .tab-block-item
                            .dropdown
                                button.dropdown-head(data-click-target='dropdown-head')
                                    include ../img/address-marker.svg
                                    span.dropdown-head-value Select city or zip
                                input(type='hidden').dropdown-input
                                .dropdown-body
                                    button.dropdown-body-value(data-click-target='dropdown-value') Ukraine, Odessa
                                    button.dropdown-body-value(data-click-target='dropdown-value') USA, Texas
                                    button.dropdown-body-value(data-click-target='dropdown-value') Canada, Toronto
                                    button.dropdown-body-value(data-click-target='dropdown-value') USA, New York
                                    button.dropdown-body-value(data-click-target='dropdown-value') Ukraine, Odessa
                                    button.dropdown-body-value(data-click-target='dropdown-value') USA, Texas
                                    button.dropdown-body-value(data-click-target='dropdown-value') Canada, Toronto
                                    button.dropdown-body-value(data-click-target='dropdown-value') USA, New York
                        .tab-block-item
                            .input
                                .input-row.input-row-img
                                    include ../img/weight.svg
                                    input(type='text' placeholder='Parcel weight in kg').input-text
                                span.input-error-text This field is required
                        button(type='button').btn-big.orange Get quote
        +img('../img/bgc.jpg').bgc











